#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.background-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, rgb(16, 17, 17) 0%, rgb(0, 0, 0) 25%, rgb(63, 73, 181) 51%, #671e1e 120%);
}

/* Page selector */

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #333;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 40px;
  min-height: 500px;
}

.container {
  display: flex;
  width: 800px; /* must be no more than the mobile width (in the media tag at the bottom) */
  min-height: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: stretch;
}

.page-selector {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border: 2px solid white;
  border-radius: 200px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.8);
}

a {
  cursor: pointer;
}

h1 {
  margin: 0 0 30px;
  font-weight: bold;
}



.right-side {
  display: flex;
  flex-direction: column;
  font-family: Figtree, Arial, sans-serif; 
  color: #333;
  gap: 20px;
  align-items: stretch;
  width: 80%;
  min-height: 600px;
}




select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input {
  width: 96%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ccc;
  color: #333;
}

.submit-button {
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30%;
  margin-bottom: 20px;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-button:hover {
  opacity: 0.9;
}

.file-upload {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.default-file-button {
  background-color: #545454;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
}

.default-file-button:hover {
  opacity: 0.9;
}

.fname {
  color: #4b4b4b;
  border-radius: 5px;
  padding: 5px;
  outline: 3px dotted rgb(255, 157, 0); 
  margin-left: 20px;
}


/* Page 2 */


.submit-jobs-container {
  display: flex;
  flex-direction: column;
  font-family: Figtree, Arial, sans-serif; 
  color: #333;
  min-height: 600px;
  align-items: stretch;
  width: 60%;

}

/*
  display: flex;
  flex-direction: column;
  font-family: Figtree, Arial, sans-serif; 
  color: #333;
  gap: 20px;
  align-items: stretch;
  width: 50%;
*/

/* display: flex;
flex-direction: row;
width: 800px;
min-height: 600px;
background-color: rgba(255, 255, 255, 0.8);
border: 2px solid white;
border-radius: 10px;
padding: 20px;
box-shadow: 0 0 24px rgba(0, 0, 0, 0.8);
justify-content: center;
align-items: stretch;
width: 100%; */

.job-tile {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  background-color: #bcbcbc;
  color: #333;
  border-radius: 5px;
  padding: 0 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.job-tile h3 {
  font-weight: bold;
  color: #333;
}

.job-tile ul {
  list-style-type: none;
  display: none;
}

.code-block {
  text-align: left;
  align-items: left;
}


.see-info-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: auto;
}

.see-info-button:hover {
  opacity: 0.9;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Popup content box */
.popup-content {
  background-color: #ffffff; /* White background */
  padding: 20px;
  border-radius: 8px;
  width: 700px;
  max-width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
}

.popup-content h3 {
  margin-top: 0;
}

.popup-content ul {
  list-style-type: none;
  padding: 0;
}

.popup-content ul li {
  margin-bottom: 10px;
}

.popup-content a {
  color: #007bff;
  text-decoration: underline;
}

.close-button {
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #0056b3;
}

.usage {
  display: flex;
  flex-direction: column;
  font-family: Figtree, Arial, sans-serif; 
  color: #333;
  align-items: stretch;
  width: 80%;
  min-height: 600px;
}

.instructions {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 20px;
}



@media (max-width: 800px) {
  .container {
      width: 85%;
      flex-direction: column;
      margin-top: 50px;
      align-items: center;
  }

  .right-side {
      width: 100%;
      padding: 0;
  }
  
  input {
      width: calc(100% - 16px);
  }

  .submit-jobs-container {
    width: 100%;
    padding: 0;
    align-items: center;
  }

  .job-tile {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0;
  }

  .see-info-button {
    margin-left: 0;
    margin-top: 10px;
  }
}

.success-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e0ffe0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  z-index: 1000;
  animation: fadeInOut 3s ease;
}

.checkmark {
  width: 40px;
  height: 20px;
  border-left: 5px solid #4caf50;
  border-bottom: 5px solid #4caf50;
  transform: rotate(-45deg);
  margin-top: 10px;
  animation: checkmarkDraw 0.5s ease forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(0.8) translate(-50%, -50%);
  }
  10%, 90% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: scale(0.8) translate(-50%, -50%);
  }
}

@keyframes checkmarkDraw {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 40px;
    height: 20px;
  }
}
